{% extends 'parent.html.twig' %}

{% block content %}
    <div class="col-12 text-center">
    <br>
        <h3>Détails</h3>
    <br>
    </div>
   {% for product in products %}
   <div class="col-6">
    <img class="d-block img-fluid" src="{{ asset('img/'~ product.image) }}" >
   </div>
   <div class="col-6">
    <h4>{{ product.name }}<h4>
    <p class="myP">{{ product.description }}</p>
   </div>
    {% endfor %}

{% endblock %}